{
  admin off
  auto_https off
}

https://127.0.0.1:{{PROXY_PORT}} {
  tls {{CERT_FILE}} {{KEY_FILE}}
  reverse_proxy 127.0.0.1:{{GENE_PORT}} {
    header_up X-Forwarded-For {remote_host}
    header_up X-Forwarded-Proto https
    header_up X-Forwarded-Host {hostport}
  }
}
